// h3 {
//     text-align: center;
//     color: yellowgreen;
//     font-size: 20px;
// }

// .btn-span {
//     display: inline-block;
//     width: 100px;
//     color: #999;
//     font-size: 16px;
//     border: 1px solid #ddd;
//     border-radius: 5px;
//     padding: 5px;
//     cursor: pointer;
// }

// .list-wrapper {
//     width: 1200px;
//     margin: 20px auto;
//     color: #fff;
// }

// .header {
//     background-color: #999;
// }
// .side {
//     background-color: #666;
// }
// .content {
//     background-color: aqua;
//     min-height: 200px;
// }
// .footer {
//     background-color: yellowgreen;
// }