@import "./public.scss";
.user-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.user {
    width: 25%;
    border-radius: 5px;
    text-align: center;
    img {
        width: 100%;
    }
    .name {
        margin-top: 10px;
        margin-bottom: 0;
    }
}
.top {
   background-color: rgb(26, 130, 209);
   .am-search {
        background-color: rgb(26, 130, 209);
        .am-search-cancel {
            color: white;
        }
   }
}