@import "./public.scss";
.user-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}
.user {
    width: 25%;
    border-radius: 5px;
    text-align: center;
    img {
        width: 100%;
    }
}