#tab-bar.demo {
    display: flex;
    flex-direction: column;
  }
  #tab-bar .demoName {
    height: 40px;
  }
  #tab-bar .demo-preview-item .am-tab-bar {
    background-color: white;
  }

  .list-wrapper {
      height: 100vh;
      background-color: aqua;
  }

  .tab-bar>div {
    position: fixed;
    width: 100%;
    bottom: 0;
  }